@use "../../sass/fonts/fonts.module.scss";
@use "../../sass/components/buttons/buttons.module.scss";
@use "../../sass/colors/colors.module.scss";
.mainC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}
.progress {
  width: 100%;
  margin-bottom: 60px;
  font-size: fonts.$secondary_font_size;
  font-weight: bold;
}
.step {
  cursor: pointer;
}
.nextBtn {
  @include buttons.button(colors.$primary_white, colors.$primary_blue);
}
