@use "../../sass/fonts/fonts.module.scss";
@use "../../sass/components/buttons/buttons.module.scss";
@use "../../sass/colors/colors.module.scss";
.mainC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}
.progress {
  width: 100%;
  margin-bottom: 60px;
  font-size: fonts.$secondary_font_size;
  font-weight: bold;
}
.step {
  cursor: pointer;
}
.programC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 3px solid colors.$primary_blue;
  gap: 20px;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.programHolder {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  p {
    font-weight: bold;
  }
  img {
    object-fit: contain;
    border-radius: 10px;
  }
}
.quizDetails {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  // gap: 20px;
  text-align: center;
  align-items: center;
  p {
    margin: 0px;
    width: 50%;
    font-weight: bold;
  }
  background-color: colors.$primary_blue;
  border-radius: 10px;
  color: colors.$primary_white;
  padding: 10px;
}
.line {
  font-size: 20px;
  height: 2px;
  background-color: gray;
  width: 33%;
}

.nextBtn {
  @include buttons.button(colors.$primary_white, colors.$primary_blue);
}

@media screen and (max-width: 450px) {
  .programHolder {
    flex-direction: column;
  }
  .programC {
    padding: 20px;
    width: 90%;
  }
  .quizDetails {
    flex-direction: column;
    p {
      width: 100%;
    }
  }
}
