@mixin title($color) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color;
  margin-bottom: 40px;
  h2 {
    font-size: 20px;
  }
}
@mixin bigTitle($color) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color;
  margin-bottom: 40px;
  h2 {
    font-size: 30px;
  }
}

@mixin sideTitle($color) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color;
  margin-bottom: 20px;
  font-size: 30px;
}
