@use "../../../sass/fonts/fonts.module.scss";
@use "../../../sass/components/buttons/buttons.module.scss";
@use "../../../sass/colors/colors.module.scss";
.mainC {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  margin-bottom: 60px;
  flex-wrap: wrap;
  h2 {
    font-size: fonts.$secondary_font_size;
    margin-bottom: 40px;
  }
  button {
    @include buttons.button(colors.$primary_white, colors.$primary_blue);
    margin-top: 30px;
  }
}
.articleHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
