@use "../../sass/colors/colors.module.scss";
@use "../../sass/fonts/fonts.module.scss";
.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  flex-direction: column;
}
.mainC {
  background-color: colors.$primary_blue;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-position: center;
  align-items: center;
}

.title {
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: colors.$secondary_dark;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  p {
    margin: 10px;
  }

  color: colors.$primary_white;
}

.blogsC {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.blogHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   border-bottom: 2px solid colors.$therd_dark;
  border-radius: 10px;
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 20px;
  max-width: 850px;
  min-width: 850px;
  position: relative;
  //   border-radius: 10px;
  padding: 20px;
  padding-top: 60px;
  //   padding-botton: 60px;
}
.paginationC {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .blogHolder {
    max-width: 500px;
    min-width: 500px;
    flex-direction: column;
  }
  .mainC {
    flex-direction: column;
    gap: 10px;
    // padding: 30px;
  }
}
@media screen and (max-width: 520px) {
  .blogHolder {
    max-width: 100%;
    min-width: 100%;
  }
}
