@use "../../../sass/components/titles/titles.module.scss";
@use "../../../sass/colors/colors.module.scss";
.title {
  @include titles.title(colors.$secondary_dark);
}
.studentMainContainer {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.studentHolder {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  border-radius: 10px;
}
.innerCarousel {
  display: flex;
  gap: 40px;
}
.item {
  min-width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  /* min-height: 35rem; */
  border-radius: 10px;
  position: relative;
  /* padding: 40px; */
}

@media screen and (max-width: 500px) {
  // .item {
  //   min-width: 200px;
  //   width: 200px;
  // }
  .innerCarousel {
    gap: 10px;
  }
  .innerCarousel {
    gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .item {
    min-width: 150px;
    width: 150px;
  }
}
