@use "../../../sass/components/titles/titles.module.scss";
@use "../../../sass/colors/colors.module.scss";
@use "../../../sass/components/buttons/buttons.module.scss";
@use "../../../sass/fonts/fonts.module.scss";
.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  background: rgb(0, 129, 239);
  background: linear-gradient(
    100deg,
    rgba(0, 129, 239, 1) 0%,
    rgba(45, 105, 235, 1) 50%,
    rgba(46, 51, 235, 1) 100%
  );
  width: 100%;
}
.quizContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  h2 {
    color: colors.$primary_white;
    text-align: center;
  }
  gap: 10px;
  button {
    @include buttons.button(colors.$primary_dark, colors.$primary_white);
    border: 2px solid colors.$primary_dark;
    margin-top: 20px;
  }
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.fields {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  gap: 10px;
  width: 600px;
  height: 100%;
  background-color: colors.$primary_white;
}

.field {
  width: 400px;
  color: colors.$secondary_dark;
  margin: 10px;
  font-size: fonts.$primary_font_size;
  text-transform: lowercase;
}

.field::placeholder {
  text-align: center;
}
.inputsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.errorMessage {
  color: red;
  word-wrap: break-word;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid red;
}
.errorMessage p {
  margin: 10px;
}
.holder {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
}
.errorC {
  color: colors.$primary_dark;
}
.error {
  color: rgb(255, 68, 68);
}
.container p {
  margin: 2px;
}

@media screen and (max-width: 600px) {
  .fields {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .holder {
    width: 100%;
  }
  .field {
    width: 90%;
  }
}
