@use "../../../../sass/colors/colors.module.scss";
@use "../../../../sass/components/titles/titles.module.scss";
@use "../../../../sass/fonts/fonts.module.scss";

.mainC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
}
.title {
  @include titles.title(colors.$primary_dark);
  text-align: center;
}
.detailsC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.detail {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.main {
  padding: 15px;
  border-right: 5px solid colors.$therd_blue;
  font-size: fonts.$therd_font_size;
  font-weight: bold;
}
