@use "../../sass/components/titles/titles.module.scss";
@use "../../sass/colors/colors.module.scss";
.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(0, 129, 239);
  background: linear-gradient(
    100deg,
    rgba(0, 129, 239, 1) 0%,
    rgba(45, 105, 235, 1) 50%,
    rgba(46, 51, 235, 1) 100%
  );
  width: 100%;
}
.quizContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  h2 {
    color: colors.$primary_white;
  }
  gap: 10px;
}
.holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  background-color: colors.$secondary_dark;
  border-radius: 10px;
  font-weight: bold;
  color: colors.$primary_white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  input {
    display: none;
  }
  &:hover {
    background-color: colors.$therd_dark;
  }
}
.imageHolder {
  position: relative;
  width: 120px;
  height: 150px;
  img {
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (max-width: 420px) {
  .holder {
    width: 90%;
  }
}
@media screen and (max-width: 1120px) {
  .mainContainer {
    flex-direction: column;
  }
}
