@use "../../../../sass/colors/colors.module.scss";
.mainC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
  gap: 60px;
  //   width: 100%;
}
.holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;

  h4 {
    font-size: 20px;
  }
}
.banner {
  width: 500px;
  border: 5px solid colors.$primary_blue;
  height: 400px;
  border-radius: 10px;
  position: relative;
  //   img {
  //     //     object-fit: contain;
  //   }
}
.textC {
  width: 500px;
}

@media screen and (max-width: 1150px) {
  .holder {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media screen and (max-width: 560px) {
  .banner {
    width: 300px;
    height: 250px;
  }
  .textC {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
