@use "../../sass/colors/colors.module.scss";
@use "../../sass/fonts/fonts.module.scss";
@use "../../sass/components/buttons/buttons.module.scss";
.mainC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-right: 10px;
  gap: 30px;
  padding-left: 10px;
  background: rgb(0, 129, 239);
  background: linear-gradient(
    100deg,
    rgba(0, 129, 239, 1) 0%,
    rgba(45, 105, 235, 1) 50%,
    rgba(46, 51, 235, 1) 100%
  );
  width: 100%;
}
.mettingC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: colors.$primary_white;
  border-radius: 10px;
  padding: 20px;
}
.personC {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: colors.$primary_white;
}
.dataAndBackC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dataC {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  font-weight: bold;
  color: colors.$primary_blue;
  width: 50%;
  align-items: center;
}

.backC {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  width: 50%;
  align-items: center;
  gap: 10px;
}
.setMetting {
  @include buttons.button(colors.$primary_dark, colors.$primary_white);
  border: 2px solid colors.$primary_dark;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .personC {
    width: 90%;
  }
}
